<div class="card shadow">

    <img class="card-img-top" src="{{product.img}}">

    <div class="card-body">
        <p class="h5 card-title">
            {{ product.name }}
        </p>
        <p class="h5 text-muted">
            ${{ product.price }}
        </p>
        <p class="card-text">
            {{ product.description }}
        </p>
        <button class="w-100 btn btn-{{classButton}} text-white"
                (click)="captureProduct(product)">
            {{ buttonText }}
        </button>
    </div>

</div>