<app-navbar></app-navbar>
<section class="py-5 d-flex flex-wrap flex-column justify-content-center align-items-center gap-3">

    <img  *ngIf="(cart$ | async)?.length === 0"  
          src="../../../assets/img/carrito-vacio2.png"
          width="200">

    <img  *ngIf="(cart$ | async)?.length !== 0"  
          src="../../../assets/img/carrito-lleno.jpg"
          width="250">

    <h1>
        Productos seleccionados: {{ (cart$ | async)?.length }}
    </h1>

    <h5 *ngIf="(totalPrice$ | async)">
        Precio Total: ${{totalPrice$ | async | number: '.2-4'}}
    </h5>

    <app-generate-order-button
    [cart$]="cart$"
    [disableButton]="(cart$ | async)?.length === 0">
        Generar orden de compra
    </app-generate-order-button>

    <div class="d-flex flex-wrap justify-content-center gap-4">
        <app-product-card 
        *ngFor="let item of cart$ | async"
        [product]="item"
        [classButton]="'danger'"
        [buttonText]="'Eliminar del carrito'">
        </app-product-card>
    </div>

    <p *ngIf="(cart$ | async)?.length === 0"
    class="text-secondary h5">
        No tienes productos para mostrar :(
    </p>

</section>
